<form
  *ngIf="registrationForm"
  class="form"
  [formGroup]="registrationForm"
  (ngSubmit)="onSubmit()">

  <mat-form-field
    *ngFor="let field of formConfig"
    class="field"
    appearance="fill">

    <mat-label>
      {{field.label}}
    </mat-label>

    <input
      *ngIf="field.type !== 'password'; else passwordField"
      matInput
      [type]="field.type"
      [formControlName]="field.name"
      [required]="field.required">

    <ng-template #passwordField>
      <input
        matInput
        [formControlName]="field.name"
        [required]="field.required"
        [type]="passwordHide ? 'password' : 'text'">
    </ng-template>


    <button
      *ngIf="field.type === 'password'"
      matSuffix
      mat-icon-button
      type="button"
      (click)="passwordHide = !passwordHide">

      <mat-icon>
        {{passwordHide ? 'visibility_off' : 'visibility'}}
      </mat-icon>
    </button>

    <mat-error>
      {{field.validations?.[0]?.message}}
    </mat-error>
  </mat-form-field>

  <button
    mat-flat-button
    color="primary"
    type="submit"
    [disabled]="!registrationForm.valid">

      Save
  </button>
</form>
